.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
}

.p {
  display: flexbox;
  background-color: aqua;
}
.body {
  background-color: brown;
}